body{

    width: 100%;
    height: 100%;
    
}

.main{
    display: flex;
    width: 100%;
    height: 100%;

    z-index: 90;
}


.video-container {

    position: fixed;
z-index: -9;
    width: 100%;
    height: 100%;
}

#video {

    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.footer{
width: 100%;
height: 5%;
background-color: rgb(119, 119, 253);
top: 95%;
position: absolute;
color:white;
opacity: 0.7;
}
#fatec{
    animation: footer 15s infinite;
}
@keyframes footer {
    0% {
      transform: translateX(-20%);
      
    }
    100% {
      transform: translateX(100%);
    }
  }
  
.login{
    margin-left: 5%;
    position: absolute;
    width: 30%;
    height: 80%;
    background-color: rgb(119, 119, 253);
    top: 10%;
    opacity: 0.8;
}

.login h3{

justify-content: center;
align-self: ;
}


