* {
    box-sizing: border-box; /* Adicionando uma regra global para garantir que padding e border não aumentem o tamanho do elemento */
}

.containermain {
    width: 100%;
    height: 100%;
}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
